03_Resources/Workflow/5A_Task 3_ Weather API → Google Sheets.json
{
  "name": "5A_Task 3: Weather API → Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        -80
      ],
      "id": "6b38618f-c7b6-4184-8b34-7061fc372c8b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=23.8103&longitude=90.4125&current_weather=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        -176
      ],
      "id": "3e5252f6-eb4e-48f9-ae56-470413a72062",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Process Weather Data\nconst weatherData = $input.item.json;\nconst currentWeather = weatherData.current_weather;\n\n// Extract Data\nconst timestamp = new Date().toISOString();\nconst city = \"Dhaka\";\nconst temperature = currentWeather.temperature;\nconst windSpeed = currentWeather.windspeed;\nconst description = temperature + \"°C, Wind: \" + windSpeed + \" km/h\";\n\n// Return Formatted Data\nreturn [\n  {\n    json: {\n      timestamp: timestamp,\n      city: city,\n      temperature: temperature,\n      description: description,\n      windSpeed: windSpeed\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -176
      ],
      "id": "2e723c3e-2be3-498d-9874-9d2eb28e771e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cjcuIhqLRFtJGjxmmT6B61NPNbFXAD2TdSPvmufnZvI",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "weather",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cjcuIhqLRFtJGjxmmT6B61NPNbFXAD2TdSPvmufnZvI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "City": "={{ $json.city }}",
            "Temperature": "={{ $json.temperature }}",
            "Weather": "={{ $json.description }}",
            "Time": "={{ $json.timestamp }}",
            "Wind Speed": "={{ $json.windSpeed }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Temperature",
              "displayName": "Temperature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weather",
              "displayName": "Weather",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Wind Speed",
              "displayName": "Wind Speed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -80
      ],
      "id": "6b995fd1-163b-4761-b3f5-d584691f21c2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7YBQbfI3ar8ZOQWR",
          "name": "Google Sheets_trytolearncyber"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "q: Dhaka\nappid: YOUR_API_KEY\nunits: metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        32
      ],
      "id": "69d6e531-6436-42cf-a23e-2e3765e5d7c6",
      "name": "HTTP Request1",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0a2e032b-ef7f-41e3-b32a-42c345e2afb1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e04b4d80c1dd2a688c4034915662d8ca13ceb3a569684e649a6efc5455798548"
  },
  "nodeGroups": [],
  "id": "uiBy2pWepU2g3Jub",
  "tags": []
}